server:
  port: 8080 # Distinct port (Loader=8080, Price=8082, Hedge=8083)

spring:
  application:
    name: hedgeservice
  threads:
    virtual: { enabled: true }

  datasource:
    url: jdbc:postgresql://localhost:5432/analyticsandtrading
    username: ${DB_USER:postgres}
    password: ${DB_PASS:password}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      read-only: false # Must be FALSE to support Manual Uploads (POST)

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/trading-realm
          jwk-set-uri: http://keycloak:8080/realms/trading-realm/protocol/openid-connect/certs

management:
  tracing:
    sampling:
      probability: 1.0 # Log 100% of requests (for dev/demo only)
  zipkin:
    tracing:
      endpoint: http://tempo:9411/api/v2/spans # Send traces to Tempo container
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"

